{% extends "layout.html" %}

{% block title %}
Bmi Calculator | About
{% endblock %}

{% block body %}
        <!-- Header Section -->
        <nav class="navbar navbar2 navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#"><img src="static/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              <a class="nav-item nav-link" href="{{ url_for('calculator') }}">Bmi Calculator</a>
              <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
              <a class="nav-item nav-link" href="{{ url_for('contact') }}">Contacts</a>
            </div>
          </div>
        </nav>
    <header class="header header2">
        <!--Title Section START -->
        <div class="container side-page-header">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-text text-center">
                        <h2>About</h2>
                        <div class="title-option">
                            <a href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a><i class="fas fa-chevron-right"></i>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Title Section End-->
    </header>
    <!-- HEADER END-->

    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-img">
                <img src="static/img/about-pic.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-text">
                <h2>Story About Us</h2>
                <p class="first-para">Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean pretium
                    sollicitudin, nascetur auci elit consequat ipsutissem niuis sed odio sit amet nibh vulputate
                    cursus a amet.</p>
                <p class="second-para2">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida quam semper libero sit amet.</p>
                <img src="static/img/about-signature.png" alt="">
                <div class="at-author">
                    <h4>Lettie Chavez</h4>
                    <span>CEO - Founder</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row certificate">
              <div class="col-lg-8">
                <div class="award-text">
                    <h2>Best gym award</h2>
                    <p>Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean pretium sollicitudin,
                        nascetur auci elit consequat ipsutissem niuis sed odio sit amet nibh vulputate cursus a
                        amet.</p>
                    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida quam semper libero
                        sit amet. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida quam
                        semper libero sit amet.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <img src="static/img/award.jpg" alt="">
              </div>
          </div>
        </div>
      </section>
      <!-- About Section End -->
    <!--  Banner Section Begin -->
    <section class="banner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner-text">
              <h2>Get Training  Today</h2>
              <p>Gimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.</p>
              <a href="{{ url_for('contact') }}" class="primary-btn banner-btn">Contact Now</a>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="static/img/banner-person.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--  Banner Section END -->

    <!--Footer Begin-->
      <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>(123) 118 9999 - (123) 118 9999</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>72 Kangnam, 45 Opal Point Suite 391</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>contactcompany@Gutim.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg" data-setbg="static/img/footer-signup.jpg" style="background-image: url(&quot;static/img/footer-signup.jpg&quot;);">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
            <div class="copyright-text">
                <ul>
                    <li><a href="#">Term&amp;Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>©</p>
                <p>
                  This template is Coded with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Youssef Mohamed</a> & Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
                <p></p>
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
        </div>
      </footer>
    <!--Footer End-->

{% endblock %}